{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": "latest"
  },
  "comma-dangle": 0
}
